page-anuncio-inst {

    .social-cards ion-col {
        padding: 0;
      }
      .right {
        float: right;
        margin-right: 3%;
      }
      .left {
        float: left;
        margin-left: 3%;
      }
      .social-cards p {
          margin: 3%;
      }

}
