page-instituicao {

    .social-cards {
        padding: 0;
        margin: 0;
    }
    .social-cards ion-col {
        padding: 0;
      }

    .social-cards ion-card-header {
        padding: 0;
    }  
}
