<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Perfil</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card class="profile-top">
    <ion-row>
      <ion-col>
        <div class="profile-photo">
          <img [src]="usuario?.imageUrlProfile || 'assets/imgs/avatar-blank.png'">
        </div>
        <button ion-button block clear color="royal">{{usuario?.nome}}</button>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-list class="profile-detail">
    <ion-row>
      <ion-col no-padding>
        <ion-item>
          <h4>
            <ion-icon name="contact"></ion-icon> Nome</h4>
          <p>{{usuario?.nome}}</p>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-item icon-left>
      <h4>
        <ion-icon name="mail"></ion-icon> Email</h4>
      <p>{{usuario?.email}}</p>

      <ion-card>
        <ion-card-header>
          Enviar imagem de perfil
        </ion-card-header>
        <ion-item *ngIf="picture">
          <img [src]="picture">
        </ion-item>
        <ion-item>
          <button ion-button block (click)="getCameraPicture()" [disabled]="cameraOn">Camera</button>
          <button *ngIf="picture" ion-button outline block (click)="sendPicture()">Enviar imagem</button>
          <button *ngIf="picture" ion-button outline block (click)="cancel()">Descartar</button>
        </ion-item>
      </ion-card>

    </ion-item>
  </ion-list>
</ion-content>